*{
    margin:0;
    padding: 0;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    max-width: 1920px;
    width: 100%;
}

/**----------------------HEADER---------------------*/

header {
    max-width: 1440px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.header__nav {
    width: 100%;
    max-width: 1440px;
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 21px;
    border-bottom: 1px solid grey;
}

.header__nav__content {
    display: flex;
    align-items: center;
    gap: 32px;
}

.header__nav__content__logo {
    display: flex;
}

.header__nav__content__line {
    width: 2px;
    height: 40px;
    background: #353945;
}

.header__nav__content a {
    font-family: 'DM';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    color: #777E91;
    text-decoration: none;
}

.header__nav__actions {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 28px;
    max-width: 573px;
    width: 100%;
}

.header__nav__actions__search {
    max-width: 573px;
    width: 100%;
    display: flex;
    gap: 20px;
}

.site-search {
    max-width: 186px;
    width: 100%;
    border: 0;
    border-radius: 8px;
    background: none;
    height: 40px;
    color: white;
}

.search {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #353945;
    border-radius: 8px;
    max-width: 256px;
    width: 100%;
}

.site-search:focus {
    outline: none;
}

.header__nav__actions__notifications {
    width: 40px;
    height: 40px;
    background-image: url(/pics/Notification.png);
}

.header__nav__actions__buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
}

.header__nav__actions__buttons .button-left {
    font-family: 'DM Sans';
    background: #3772FF;
    border-radius: 90px;
    border: 0px;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 16px;
    padding-right: 16px;
    color: #FCFCFD;
}

.header__nav__actions__buttons .button-left:active {
    background: rgb(55, 114, 255);
    background: -moz-linear-gradient(76deg, rgba(55, 114, 255, 1) 0%, rgb(18, 37, 106) 100%);
    background: -webkit-linear-gradient(76deg, rgba(55, 114, 255, 1) 0%, rgb(21, 40, 109) 100%);
    background: linear-gradient(76deg, rgba(55, 114, 255, 1) 0%, rgb(23, 43, 116) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr="#3772ff", endColorstr="#04060d", GradientType=1);
}

.header__nav__actions__buttons .button-right {
    font-family: 'DM Sans';
    border: 2px solid #777E91;
    border-radius: 90px;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 16px;
    padding-right: 16px;
    background: none;
    color: #000000;
}


/**----------------------HEADER_END---------------------*/


/**----------------------NAVIGAION_TOP---------------------*/

.section_1{
    display: flex;
    justify-content: center;
    flex-flow: column;
}

.nav-top{
    max-width: 1440px;
    width: 100%;
    
    border-bottom: 1px solid #E6E8EC;; ;
}

.nav-top__content{
    display: flex;
    max-width: 1140px;
    width: 100%;
    gap: 772px;
    padding: 32px 160px;
}

.nav_top__button{
    max-width: 153px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.nav-top__button-content{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px 16px 12px 16px;
    gap: 15px;
}

.nav-top__button{
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    background-color: white;
    border: 2px solid #E6E8EC;
    border-radius: 90px;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    gap: 12px;
}

.nav-top__button__title{
    max-width: 93px;
    width: 100%;
}

.nav-top__right{
    max-width: 195px;
    width: 100%;
    display: flex;
    align-items: center;
    gap: 33px;
}


.right__title-home{
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    color: #777E91;
}

.right__title-Upload_item{
    max-width: 83px;
    width: 100%;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    color: #23262F;
}
/**----------------------NAVIGAION_TOP_END---------------------*/


/**----------------------HEADLINE---------------------*/

.headline{
    max-width: 1440px;
    width: 100%;
    padding-top: 80px;
    padding-bottom: 80px;
    display: flex;
    justify-content: center;
}

.headline__content-title{
    max-width: 736px;
    width: 100%;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 56px;
    text-align: center;
    letter-spacing: -0.02em;
    color: #23262F;
    padding-bottom: 16px;
}

.headline__content-text{
    max-width: 736px;
    width: 100%;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #777E91;
}

.single{
    color: #000000;
}


/**----------------------HEADLINE_END---------------------*/


/**----------------------CONTAINER---------------------*/

.container{
    max-width: 1440px;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 36px;
    flex-flow: column;
}

.container__wrapper{
    display: flex;
    align-items: center;
    flex-flow: column;
    gap: 32px;

}
.wrapper__img{
    max-width: 736px;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 32px;
}

.container1{
    display: flex;
    justify-content: center;
    max-width: 360px;
    width: 100%;
    border: 1px solid #E6E8EC;
    border-radius: 16px;
}

.contaier1__content{
    display: flex;
    flex-flow: column;
    align-items: center;
    gap: 24px;
    padding-top: 16px;
    padding-bottom: 24px;
    
}

.container1__content-img{
    max-width: 320px;
    width: 100%;
}

.container1__content__button{
    max-width: 123px;
    width: 100%;
    border: 2px solid #E6E8EC;
    background-color: white;
    border-radius: 90px;
}

.create_single{
    max-width: 91px;
    width: 100%;
    padding: 12px 16px 12px 16px;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    color: #23262F;
}


.container2{
    display: flex;
    justify-content: center;
    max-width: 360px;
    width: 100%;
    border: 1px solid #E6E8EC;
    border-radius: 16px;
}


.container2__content__button{
    max-width: 137px;
    width: 100%;
    border: none;
    background-color: #3772FF;
    border-radius: 90px;
}

.create_multiple{
    max-width: 105px;
    width: 100%;
    padding: 12px 16px 12px 16px;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    color: white;
}


.container__bot-title{
        font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #777E91;
}

/**----------------------CONTAINER_END---------------------*/