@font-face {
    font-family: "DM";
    src: url(../fonts/DMSans-Medium.ttf);
}

* {
    margin: 0;
    padding: 0;
}

body {
    background: #141416;
    width: 100%;
    max-width: 1920px;
}

header {
    width: 100%;
    display: flex;
    justify-content: center;
}

.header__nav {
    width: 100%;
    max-width: 1440px;
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 21px;
    border-bottom: 1px solid#353945;
}

.header__nav__content {
    display: flex;
    align-items: center;
    gap: 32px;
}

.header__nav__content__logo {
    display: flex;
}

.header__nav__content__line {
    width: 2px;
    height: 40px;
    background: #353945;
}

.header__nav__content a {
    font-family: 'DM';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    color: #777E91;
    text-decoration: none;
}

.header__nav__actions {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 28px;
    max-width: 573px;
    width: 100%;
}

.header__nav__actions__search {
    max-width: 573px;
    width: 100%;
    display: flex;
    gap: 20px;
}

.site-search {
    max-width: 186px;
    width: 100%;
    border: 0;
    border-radius: 8px;
    background: none;
    height: 40px;
    color: white;
}

.search {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #353945;
    border-radius: 8px;
    max-width: 256px;
    width: 100%;
}

.site-search:focus {
    outline: none;
}

.header__nav__actions__notifications {
    width: 40px;
    height: 40px;
    background-image: url(../pics/Notification.png);
}

.header__nav__actions__buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
}

.header__nav__actions__buttons .button-left {
    font-family: 'DM';
    background: #3772FF;
    border-radius: 90px;
    border: 0px;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 16px;
    padding-right: 16px;
    color: #FCFCFD;
}

.header__nav__actions__buttons .button-left:active {
    background: rgb(55, 114, 255);
    background: -moz-linear-gradient(76deg, rgba(55, 114, 255, 1) 0%, rgb(18, 37, 106) 100%);
    background: -webkit-linear-gradient(76deg, rgba(55, 114, 255, 1) 0%, rgb(21, 40, 109) 100%);
    background: linear-gradient(76deg, rgba(55, 114, 255, 1) 0%, rgb(23, 43, 116) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr="#3772ff", endColorstr="#04060d", GradientType=1);
}

.header__nav__actions__buttons .button-right {
    font-family: 'DM';
    border: 2px solid #777E91;
    border-radius: 90px;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 16px;
    padding-right: 16px;
    background: none;
    color: #FCFCFD;
}

.header__nav__actions__buttons .button-right:active {
    background: rgb(255, 255, 255);
    background: -moz-linear-gradient(76deg, rgb(65, 65, 67) 0%, rgb(52, 55, 66) 100%);
    background: -webkit-linear-gradient(76deg, rgb(44, 48, 57) 0%, rgb(27, 34, 62) 100%);
    background: linear-gradient(76deg, rgb(66, 69, 74) 0%, rgb(67, 71, 87) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr="#3772ff", endColorstr="#04060d", GradientType=1);
}

section {
    display: flex;
    justify-content: center;
    align-items: end;
    padding-top: 128px;
    max-width: 1920px;
    width: 100%;
}

.container {
    display: flex;
    flex-flow: column;
    justify-content: ceneter;
    align-items: center;
    gap: 24px;
}

.container p {
    font-family: 'DM';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 12px;
    text-transform: uppercase;
    color: #777E91;
}

.container h2 {
    font-family: 'DM';
    font-style: normal;
    font-weight: 300;
    font-size: 40px;
    line-height: 48px;
    text-align: center;
    letter-spacing: 0.01em;
    color: #FCFCFD;
}

.container__title {
    display: flex;
    flex-flow: column;
    align-items: center;
    gap: 10px;
}

.content button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 12px 24px;
    gap: 12px;
    max-width: 182px;
    width: 100%;
    border: 2px solid #777E91;
    border-radius: 90px;
    background: none;
    color: white;
    font-family: 'Poppins';
}

.auction {
    width: 100%;
    max-width: 1920px;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 128px;
    padding-top: 128px;
    padding-bottom: 136px;
}

.auction__video {
    background-image: url(../pics/auction1.png);
    width: 100%;
    max-width: 640px;
    height: 800px;
    background-size: cover;
}

.auction__frame {
    max-width: 352px;
    width: 100%;
    display: flex;
    flex-flow: column;
    gap: 40px;
}

.auction__frame__title {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.auction__frame__title p {
    font-family: 'DM';
    font-style: normal;
    font-size: 64px;
    line-height: 64px;
    letter-spacing: -0.02em;
    color: #FCFCFD;
}

.auction__frame__title__network {
    display: flex;
    gap: 105px;
    width: 100%;
}

.auction__frame__title__network h2 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    color: #777E91;
}

.auction__frame__title__network p {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    color: #FCFCFD;
}

.auction__frame__title__network__inf {
    display: flex;
    flex-flow: wrap;
    gap: 8px;
}

.network__left__user {
    background-image: url(../pics/user1.png);
    width: 40px;
    height: 40px;
    background-size: cover;
}

.network__right__user {
    background-image: url(../pics/user2.png);
    width: 40px;
    height: 40px;
    background-size: cover;
}

.auction__frame__block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 32px 0px;
    align-items: center;
    gap: 24px;
    background: #23262F;
    box-shadow: 0px 64px 64px -48px rgba(31, 47, 70, 0.12);
    border-radius: 24px;
}

.auction__frame__block .bid {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #FCFCFD;
}

.auction__frame__block p {
    font-family: 'DM';
    font-style: normal;
    font-weight: 100;
    font-size: 48px;
    line-height: 56px;
    text-align: center;
    letter-spacing: -0.02em;
    color: #FCFCFD;
}

.auction__frame__block__title h2 {
    font-family: 'DM';
    font-style: normal;
    font-weight: 200;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    color: #777E91;
}

.auction__frame__block__timer {
    max-width: 231px;
    width: 100%;
    display: flex;
    flex-flow: column;
    gap: 10px;
}

.auction__frame__block__timer p {
    font-family: 'DM';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #FCFCFD;
}

.auction__frame__block__timer__flex {
    display: flex;
    justify-content: space-around;
}

.auction__frame__block__timer__hours {
    display: flex;
    flex-flow: column;
}

.auction__frame__block__timer__flex p {
    font-family: 'DM';
    font-style: normal;
    font-weight: 200;
    font-size: 32px;
    line-height: 40px;
    text-align: center;
    letter-spacing: -0.01em;
    color: #FCFCFD;
}

.auction__frame__block__timer__flex h2 {
    font-family: 'DM';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #777E91;
}

.auction__frame__buttons {
    display: flex;
    flex-flow: column;
    gap: 8px;
}

.auction__frame__buttons button {
    font-family: 'DM';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0.05rem;
    line-height: 16px;
    text-align: center;
    color: #FCFCFD;
}

.blue {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 16px 24px;
    gap: 12px;
    width: 352px;
    height: 48px;
    background: #3772FF;
    border-radius: 90px;
    border: 0;
}

.black {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 16px 24px;
    gap: 12px;
    width: 352px;
    height: 48px;
    background: none;
    border: 2px solid #353945;
    border-radius: 90px;
}

.feed {
    display: flex;
    justify-content: center;
}

.feed .container {
    display: flex;
    flex-flow: row;
    gap: 32px;
}

.container__block {
    display: flex;
    flex-flow: column;
    gap: 24px;
}

.container__block__img {
    background-image: url(../pics/feed1.png);
    width: 448px;
    height: 432px;
}

.container__block__content {
    display: flex;
    justify-content: space-between;
}

.container__block__content__title {
    display: flex;
    gap: 15px;
    align-items: center;
}

.container__block__content__title__user {
    background-image: url(../pics/user01_48x48.png);
    width: 48px;
    height: 48px;
    background-image: cover;
}

.container__block__content__title__information {
    display: flex;
    flex-flow: column;
    gap: 6px;
}

.container__block__content__title__information h2 {
    font-family: 'DM';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    color: #FCFCFD;
}

.container__block__content__title__information p {
    font-family: 'DM';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    color: #E6E8EC;
}

.container__block__content__cost {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.container__block__content__cost p {
    font-family: 'DM';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    color: #777E91;
    text-transform: capitalize;
}

.container__block__content__cost__block {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px 8px 6px;
    gap: 10px;
    border: 2px solid #45B36B;
    border-radius: 4px;
}

.container__block__content__cost__block p {
    font-family: 'DM';
    font-weight: 200;
    font-size: 12px;
    line-height: 12px;
    text-transform: uppercase;
    color: #45B36B;
}

.container__block .second__block {
    display: flex;
    flex-flow: column;
    gap: 32px;
}

.container__block__item {
    display: flex;
    gap: 24px;
}

.container__block__item .second {
    background: url(../pics/feed2.png);
    width: 160px;
    height: 148px;
}

.second__content {
    display: flex;
    flex-flow: column;
    justify-content: center;
    gap: 10px;
}

.second__title {
    display: flex;
    flex-flow: column;
    align-items: start;
    gap: 8px;
}

.second__title p {
    font-family: 'DM';
    font-style: normal;
    font-weight: 200;
    font-size: 16px;
    line-height: 24px;
    color: #FCFCFD;
    max-width: 200px;
    width: 100%;
}

.feed__button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px 12px;
    gap: 12px;
    max-width: 98px;
    width: 100%;
    border: 2px solid #777E91;
    border-radius: 90px;
    background: none;
    font-family: 'DM';
    font-style: normal;
    font-weight: 200;
    font-size: 12px;
    line-height: 16px;
    color: #FCFCFD;
}

.container__block__content__title__inf {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 11px;
}

.container__block__content__title__inf p {
    font-family: 'DM';
    font-style: normal;
    font-weight: 100;
    font-size: 14px;
    line-height: 24px;
    color: #777E91;
}

.title__inf__img {
    width: 24px;
    height: 24px;
    background: url(../pics/feed_user1.png);
}

.title__inf__cost {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px 8px 6px;
    gap: 10px;
    border: 2px solid #45B36B;
    border-radius: 4px;
}

.title__inf__cost p {
    font-family: 'DM';
    font-weight: 800;
    font-size: 12px;
    line-height: 12px;
    text-transform: uppercase;
    color: #45B36B;
}

.container__block__img__third {
    background-image: url(../pics/feed3.png);
    width: 160px;
    height: 148px;
    background-size: cover;
}

.feed__button__blue {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px 12px;
    gap: 12px;
    max-width: 98px;
    width: 100%;
    border-radius: 90px;
    background: none;
    font-family: 'DM';
    font-style: normal;
    border: none;
    font-weight: 200;
    font-size: 12px;
    line-height: 16px;
    color: #FCFCFD;
    background: #3772FF;
}

.container__block__img__fourth {
    background-image: url(../pics/fly-d-FyN1SrqrTzQ-unsplash\ 1.svg);
    width: 160px;
    height: 148px;
    border-radius: 15px;
}

.third__block {
    width: 1px;
    height: 512px;
    background: #353945;
}