@font-face {
    font-family: "DM";
    src: url(../fonts/DMSans-Medium.ttf);
}

* {
    margin: 0;
    padding: 0;
}

body {
    background: #141416;
    width: 100%;
    max-width: 1920px;
}

header {
    width: 100%;
    display: flex;
    justify-content: center;
}

.header__nav {
    width: 100%;
    max-width: 1440px;
    padding: 0px 160px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid#353945;
}

.header__nav__content {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 32px;
    position: relative;
    right: 80px;
}

.header__nav__content__logo {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 32px;
    font-family: "DM";
    font-weight: 200;
}

.header__nav__content__logo p {
    position: relative;
    right: 75px;
}

.header__nav__content__line {
    width: 2px;
    height: 40px;
    background: #353945;
    position: relative;
    right: 75px;
}

.header__nav__content a {
    font-family: 'DM';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    color: #777E91;
    text-decoration: none;
    position: relative;
    right: 75px;
}

.header__nav__actions {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 28px;
    max-width: 573px;
    width: 100%;
}

.header__nav__actions__search {
    max-width: 573px;
    width: 100%;
    display: flex;
    gap: 20px;
}

.site-search {
    max-width: 186px;
    width: 100%;
    border: 0;
    border-radius: 8px;
    background: none;
    height: 40px;
    color: white;
}

.search {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #353945;
    border-radius: 8px;
    max-width: 256px;
    width: 100%;
}

.site-search:focus {
    outline: none;
}

.header__nav__actions__notifications {
    width: 40px;
    height: 40px;
    background-image: url(../pics/Notification.png);
}

.header__nav__actions__buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
}

.header__nav__actions__buttons .button-left {
    font-family: 'DM';
    background: #3772FF;
    border-radius: 90px;
    border: 0px;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 16px;
    padding-right: 16px;
    color: #FCFCFD;
}

.header__nav__actions__buttons .button-left:active {
    background: rgb(55, 114, 255);
    background: -moz-linear-gradient(76deg, rgba(55, 114, 255, 1) 0%, rgb(18, 37, 106) 100%);
    background: -webkit-linear-gradient(76deg, rgba(55, 114, 255, 1) 0%, rgb(21, 40, 109) 100%);
    background: linear-gradient(76deg, rgba(55, 114, 255, 1) 0%, rgb(23, 43, 116) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr="#3772ff", endColorstr="#04060d", GradientType=1);
}

.header__nav__actions__buttons .button-right {
    font-family: 'DM';
    border: 2px solid #777E91;
    border-radius: 90px;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 16px;
    padding-right: 16px;
    background: none;
    color: #FCFCFD;
}

.header__nav__actions__buttons .button-right:active {
    background: rgb(255, 255, 255);
    background: -moz-linear-gradient(76deg, rgb(65, 65, 67) 0%, rgb(52, 55, 66) 100%);
    background: -webkit-linear-gradient(76deg, rgb(44, 48, 57) 0%, rgb(27, 34, 62) 100%);
    background: linear-gradient(76deg, rgb(66, 69, 74) 0%, rgb(67, 71, 87) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr="#3772ff", endColorstr="#04060d", GradientType=1);
}

section {
    display: flex;
    justify-content: center;
    align-items: end;
    padding-top: 128px;
    max-width: 1920px;
    width: 100%;
}

.container {
    display: flex;
    flex-flow: column;
    justify-content: ceneter;
    align-items: center;
    gap: 24px;
}

.container p {
    font-family: 'DM';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 12px;
    text-transform: uppercase;
    color: #777E91;
}

.container h2 {
    font-family: 'DM';
    font-style: normal;
    font-weight: 300;
    font-size: 40px;
    line-height: 48px;
    text-align: center;
    letter-spacing: 0.01em;
    color: #FCFCFD;
}

.container__title {
    display: flex;
    flex-flow: column;
    align-items: center;
    gap: 10px;
}

.content button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 12px 24px;
    gap: 12px;
    max-width: 182px;
    width: 100%;
    border: 2px solid #777E91;
    border-radius: 90px;
    background: none;
    color: white;
    font-family: 'Poppins';
}

.auction {
    width: 100%;
    max-width: 1920px;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 128px;
    padding-top: 128px;
}

.auction__video {
    background-image: url(../pics/auction1.png);
    width: 100%;
    max-width: 640px;
    height: 800px;
    background-size: cover;
}

.auction__frame {
    max-width: 352px;
    width: 100%;
    display: flex;
    flex-flow: column;
    gap: 40px;
}

.auction__frame__title {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.auction__frame__title p {
    font-family: 'DM';
    font-style: normal;
    font-size: 64px;
    line-height: 64px;
    letter-spacing: -0.02em;
    color: #FCFCFD;
}

.auction__frame__title__network {
    display: flex;
    gap: 105px;
    width: 100%;
}

.auction__frame__title__network h2 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    color: #777E91;
}

.auction__frame__title__network p {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    color: #FCFCFD;
}

.auction__frame__title__network__inf {
    display: flex;
    flex-flow: wrap;
    gap: 8px;
}

.network__left__user {
    background-image: url(../pics/user1.png);
    width: 40px;
    height: 40px;
    background-size: cover;
}

.network__right__user {
    background-image: url(../pics/user2.png);
    width: 40px;
    height: 40px;
    background-size: cover;
}

.auction__frame__block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 32px 0px;
    align-items: center;
    gap: 24px;
    background: #23262F;
    box-shadow: 0px 64px 64px -48px rgba(31, 47, 70, 0.12);
    border-radius: 24px;
}

.auction__frame__block .bid {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #FCFCFD;
}

.auction__frame__block p {
    font-family: 'DM';
    font-style: normal;
    font-weight: 100;
    font-size: 48px;
    line-height: 56px;
    text-align: center;
    letter-spacing: -0.02em;
    color: #FCFCFD;
}

.auction__frame__block__title h2 {
    font-family: 'DM';
    font-style: normal;
    font-weight: 200;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    color: #777E91;
}

.auction__frame__block__timer {
    max-width: 231px;
    width: 100%;
    display: flex;
    flex-flow: column;
    gap: 10px;
}

.auction__frame__block__timer p {
    font-family: 'DM';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #FCFCFD;
}

.auction__frame__block__timer__flex {
    display: flex;
    justify-content: space-around;
}

.auction__frame__block__timer__hours {
    display: flex;
    flex-flow: column;
}

.auction__frame__block__timer__flex p {
    font-family: 'DM';
    font-style: normal;
    font-weight: 200;
    font-size: 32px;
    line-height: 40px;
    text-align: center;
    letter-spacing: -0.01em;
    color: #FCFCFD;
}

.auction__frame__block__timer__flex h2 {
    font-family: 'DM';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #777E91;
}

.auction__frame__buttons {
    display: flex;
    flex-flow: column;
    gap: 8px;
}

.auction__frame__buttons button {
    font-family: 'DM';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0.05rem;
    line-height: 16px;
    text-align: center;
    color: #FCFCFD;
}

.blue {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 16px 24px;
    gap: 12px;
    width: 352px;
    height: 48px;
    background: #3772FF;
    border-radius: 90px;
    border: 0;
}

.black {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 16px 24px;
    gap: 12px;
    width: 352px;
    height: 48px;
    background: none;
    border: 2px solid #353945;
    border-radius: 90px;
}

.feed {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 128px;
}

.feed .container {
    display: flex;
    flex-flow: row;
    gap: 38px;
}

.container__block {
    display: flex;
    flex-flow: column;
    gap: 24px;
}

.container__block__img {
    background-image: url(../pics/feed1.png);
    width: 448px;
    height: 432px;
}

.container__block__content {
    display: flex;
    justify-content: space-between;
}

.container__block__content__title {
    display: flex;
    gap: 15px;
    align-items: center;
}

.container__block__content__title__user {
    background-image: url(../pics/user01_48x48.png);
    width: 48px;
    height: 48px;
    background-image: cover;
}

.container__block__content__title__information {
    display: flex;
    flex-flow: column;
    gap: 6px;
}

.container__block__content__title__information h2 {
    font-family: 'DM';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    color: #FCFCFD;
}

.container__block__content__title__information p {
    font-family: 'DM';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    color: #E6E8EC;
}

.container__block__content__cost {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.container__block__content__cost p {
    font-family: 'DM';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    color: #777E91;
    text-transform: capitalize;
}

.container__block__content__cost__block {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px 8px 6px;
    gap: 10px;
    border: 2px solid #45B36B;
    border-radius: 4px;
}

.container__block__content__cost__block p {
    font-family: 'DM';
    font-weight: 200;
    font-size: 12px;
    line-height: 12px;
    text-transform: uppercase;
    color: #45B36B;
}

.container__block .second__block {
    display: flex;
    flex-flow: column;
    gap: 32px;
}

.container__block__item {
    display: flex;
    gap: 24px;
}

.container__block__item .second {
    background: url(../pics/feed2.png);
    width: 160px;
    height: 148px;
}

.second__content {
    display: flex;
    flex-flow: column;
    justify-content: center;
    gap: 10px;
}

.second__title {
    display: flex;
    flex-flow: column;
    align-items: start;
    gap: 8px;
}

.second__title p {
    font-family: 'DM';
    font-style: normal;
    font-weight: 200;
    font-size: 16px;
    line-height: 24px;
    color: #FCFCFD;
    max-width: 200px;
    width: 100%;
}

.feed__button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px 12px;
    gap: 12px;
    max-width: 98px;
    width: 100%;
    border: 2px solid #777E91;
    border-radius: 90px;
    background: none;
    font-family: 'DM';
    font-style: normal;
    font-weight: 200;
    font-size: 12px;
    line-height: 16px;
    color: #FCFCFD;
}

.container__block__content__title__inf {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 11px;
}

.container__block__content__title__inf p {
    font-family: 'DM';
    font-style: normal;
    font-weight: 100;
    font-size: 14px;
    line-height: 24px;
    color: #777E91;
}

.title__inf__img {
    width: 24px;
    height: 24px;
    background: url(../pics/feed_user1.png);
}

.title__inf__cost {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px 8px 6px;
    gap: 10px;
    border: 2px solid #45B36B;
    border-radius: 4px;
}

.title__inf__cost p {
    font-family: 'DM';
    font-weight: 800;
    font-size: 12px;
    line-height: 12px;
    text-transform: uppercase;
    color: #45B36B;
}

.container__block__img__third {
    background-image: url(../pics/feed3.png);
    width: 160px;
    height: 148px;
    background-size: cover;
}

.feed__button__blue {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px 12px;
    gap: 12px;
    max-width: 98px;
    width: 100%;
    border-radius: 90px;
    background: none;
    font-family: 'DM';
    font-style: normal;
    border: none;
    font-weight: 200;
    font-size: 12px;
    line-height: 16px;
    color: #FCFCFD;
    background: #3772FF;
}

.container__block__img__fourth {
    background-image: url(../pics/fly-d-FyN1SrqrTzQ-unsplash\ 1.svg);
    width: 160px;
    height: 148px;
    border-radius: 15px;
}

.third__block {
    width: 1px;
    height: 512px;
    background: #353945;
}

.fourth__block {
    display: flex;
    flex-flow: column;
}

.fourth__block p {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 200;
    font-size: 12px;
    text-transform: capitalize;
}

.fourth__content {
    display: flex;
    flex-flow: column;
}

.container__block__content__creator {
    display: flex;
    gap: 16px;
    padding-top: 24.5px;
    padding-bottom: 24.5px;
    border-bottom: 1px solid#353945;
    max-width: 224px;
    width: 100%;
}

.container__block__content__creator__non {
    display: flex;
    gap: 16px;
    padding-top: 24.5px;
    padding-bottom: 24.5px;
    max-width: 224px;
    width: 100%;
}

.container__block__content__creator__user {
    background: url(../pics/user.png);
    width: 60px;
    height: 60px;
}

.container__block__content__creator__title {
    display: flex;
    flex-flow: column;
    gap: 5px;
}

.container__block__content__creator__title p {
    font-family: 'DM';
    font-style: normal;
    font-weight: 200;
    font-size: 14px;
    line-height: 24px;
    color: #FCFCFD;
}

.container__block__content__creator__title span {
    font-family: 'DM';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    color: #777E91;
    letter-spacing: 0.1rem;
}

.fourth__content button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 12px 16px;
    gap: 12px;
    width: 158px;
    border: 2px solid #777E91;
    border-radius: 90px;
    background: none;
    font-family: 'DM';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    color: #FCFCFD;
}

.top__creator {
    background: #23262F;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 128px 88px;
    gap: 10px;
}

.top__creator__container {
    display: flex;
    flex-flow: column;
    align-items: center;
    gap: 64px;
    max-width: 1120px;
    width: 100%;
}

.top__creator__container__filter {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1120px;
}

.top__creator__container__filter__seller {
    display: flex;
    flex-flow: column;
}

.top__creator__container__filter__seller h2 {
    font-family: 'DM';
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 32px;
    color: #777E91;
}

.top__creator__container__filter__seller p {
    font-family: 'DM';
    font-style: normal;
    font-weight: 200;
    font-size: 40px;
    line-height: 48px;
    letter-spacing: -0.01em;
    color: #FCFCFD;
    text-align: center;
}

.top__creator__container__filter__timeframe {
    padding-top: 5px;
    display: flex;
    flex-flow: column;
    gap: 12px;
}

.top__creator__container__filter__timeframe h2 {
    font-family: 'DM';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 12px;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    color: #B1B5C4;
    letter-spacing: 0.2rem;
}

*,
*::before,
*::after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.container__dada {
    max-width: 1120px;
    margin: 0 auto;
}

.itc-slider__item {
    flex: 0 0 33.3333333333%;
    max-width: 33.3333333333%;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgba(255, 255, 255, 0.8);
    font-size: 7rem;
}

.itc-slider__item:nth-child(1) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 24px;
    max-width: 198.4px;
    width: 100%;
    gap: 24px;
    background: #141416;
    border-radius: 16px;
    transition: 0.6s;
}

.creator__box__top {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    width: 100%;
}

.creator__box__line {
    width: 150.4px;
    height: 1px;
    background: #353945;
    padding-bottom: 1px;
}

.creator__box__inf {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 14px;
}

.creator__box__inf__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0px;
    gap: 2px;
}

.creator__box__inf__content h2 {
    font-family: 'DM';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    color: #FCFCFD;
}

.creator__box__inf__content p {
    font-family: 'DM';
    font-style: normal;
    font-weight: 200;
    font-size: 12px;
    line-height: 20px;
    color: #E6E8EC;
    text-align: center;
    width: 100%;
}

.creator__box__inf__content span {
    font-family: 'DM';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    color: #777E91;
}

.creator__box__top__left {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 2px 8px;
    gap: 4px;
    background: #3772FF;
    border-radius: 24px;
    max-width: 100px;
    font-family: 'DM';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 20px;
    color: #FCFCFD;
}

.creator__box__top__right {
    display: flex;
    gap: 6px;
}

.icon__circle {
    font-size: 24px;
    color: #626570;
}

.icon__arrow {
    font-size: 24px;
    color: #626570;
}

.creator__box__inf__photo {
    background: url(/svg/user.png);
    width: 68px;
    height: 68px;
}

.itc-slider__item:nth-child(2) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 24px;
    max-width: 198.4px;
    width: 100%;
    gap: 24px;
    background: #141416;
    border-radius: 16px;
    transition: 1s;
}

.itc-slider__item:nth-child(3) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 24px;
    max-width: 198.4px;
    width: 100%;
    gap: 24px;
    background: #141416;
    border-radius: 16px;
    transition: 1s;
}

.itc-slider__item:nth-child(4) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 24px;
    max-width: 198.4px;
    width: 100%;
    gap: 24px;
    background: #141416;
    border-radius: 16px;
    transition: 1s;
}

.itc-slider__item:nth-child(5) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 24px;
    max-width: 198.4px;
    width: 100%;
    gap: 24px;
    background: #141416;
    border-radius: 16px;
    transition: 1s;
}

.itc-slider__item:nth-child(6) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 24px;
    max-width: 198.4px;
    width: 100%;
    gap: 24px;
    background: #141416;
    border-radius: 16px;
    transition: 1s;
}

.itc-slider__item:nth-child(7) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 24px;
    max-width: 198.4px;
    width: 100%;
    gap: 24px;
    background: #141416;
    border-radius: 16px;
    transition: 1s;
}

.itc-slider__item:nth-child(8) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 24px;
    max-width: 198.4px;
    width: 100%;
    gap: 24px;
    background: #141416;
    border-radius: 16px;
    transition: 1s;
}

.second__trophy {
    background: #9757D7;
    display: flex;
    justify-content: center;
    align-items: center;
}

.third__trophy {
    background: #45B36B;
}

.fourth__trophy {
    background: #23262F;
}

.second__photo {
    background-image: url(/pics/user111.png);
    width: 81.5px;
    height: 80px;
}

.third__photo {
    background-image: url(/pics/user222.png);
    width: 68px;
    height: 68px;
}

.fourth__photo {
    background-image: url(/pics/04.png);
    width: 64px;
    height: 64px;
}

.fifth__photo {
    background-image: url(/pics/user444.png);
    width: 69.1px;
    height: 70px;
}

.top__creator__container__filter__timeframe__border {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 8px 8px 8px 16px;
    gap: 18px;
    width: 256px;
    max-width: 256px;
    border: 2px solid #353945;
    border-radius: 12px;
    color: white;
    font-family: "DM";
}

.timeframe__button:focus {
    height: 200px;
    background: none;
    border: none;
    color: #b1b5c400;
}

.timeframe__border__p {
    display: flex;
    flex-flow: column;
}

.timeframe__flex {
    display: flex;
    font-family: 'DM';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 12px;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    color: #B1B5C4;
    letter-spacing: 0.2rem;
}

#day-of-week {
    border-radius: 100px;
    width: 256px;
    height: 48px;
    transition: 1s;
    background: none;
    color: white;
    font-size: 14px;
    border: 2px solid #353945;
    border-radius: 12px;
    outline: none;
    -webkit-appearance: none;
}

#day-of-button {
    position: relative;
    top: 10px;
    right: 40px;
    background: none;
    color: #7b7c7e;
    border: 0;
    font-size: 32px;
}

.hot__bid {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 136px 160px 128px;
    gap: 64px;
    background: #141416;
}

.hot__bid__title {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 64px;
    max-width: 1120px;
    width: 100%;
}

.hot__bid__title h2 {
    width: 100%;
    max-width: 968px;
    font-family: 'DM';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    letter-spacing: -0.01em;
    color: #FCFCFD;
}

.hot__bid__title__arrows {
    background-color: #9757D7;
}

.hot__bid__content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 32px;
    max-width: 1120px;
    width: 100%;
}

.hot__bid__content__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
    width: 100%;
    max-width: 256px;
}

.hot__bid__content__item__title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 20px 0px;
    gap: 12px;
    border-radius: 0px 0px 16px 16px;
    max-width: 256px;
    width: 100%;
}

.hot__bid__content__item__title__inf {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    gap: 12px;
    width: 100%;
    max-width: 256px;
}

.hot__bid__content__item__title__inf p {
    font-family: 'DM';
    font-style: normal;
    font-weight: 100;
    font-size: 16px;
    line-height: 24px;
    color: #FCFCFD;
    width: 256px;
}

.hot__bid__content__item__title__inf span {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px 0px;
    gap: 10px;
    width: 100%;
    max-width: 68px;
    border: 2px solid #45B36B;
    border-radius: 4px;
    font-family: 'DM';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 12px;
    text-transform: uppercase;
    color: #45B36B;
}

.hot__bid__content__item__title__users p {
    font-family: 'DM';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    color: #E6E8EC;
}

.hot__bid__content__item__title__line {
    width: 100%;
    height: 1px;
    max-width: 256px;
    background: #353945;
    border-radius: 1px;
}

.hot__bid__content__item__title__bid {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    gap: 40px;
}

.hot__bid__content__item__title__bid__high {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 4px;
    max-width: 152px;
    width: 100%;
    font-family: 'DM';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    color: #777E91;
    text-align: center;
}

.hot__bid__content__item__title__bid__high span {
    color: #fff;
    font-weight: 700;
}

.icon__bid {
    font-size: 16px;
}

.hot__bid__content__item__title__bid__new {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 4px;
    width: 74px;
    font-family: 'DM';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    color: #777E91;
}

.hot__bid__content__item__product img {
    object-fit: cover;
    border-radius: 16px;
    width: 256px;
    height: 303px;
}

.product__first {
    background-image: url(/pics/fuu-j-Lo7venJ_ywM-unsplash\ 1.png);
    width: 256px;
    height: 303px;
    background-size: cover;
    border-radius: 16px;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
}

.hidden__box__top {
    display: flex;
    justify-content: space-between;
    width: 90%;
    opacity: 0;
    transition: 1s;
}

.hidden__box__top__buy {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px 8px 6px;
    gap: 10px;
    background: #45B36B;
    border-radius: 4px;
    font-family: 'DM';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 12px;
    text-transform: uppercase;
    color: #FCFCFD;
    border: 0;
}

.hidden__box__top__heart {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 40px;
    height: 40px;
    background: #23262F;
    box-shadow: 0px 8px 16px -8px rgba(15, 15, 15, 0.2);
    border-radius: 32px;
    border: 0;
    font-size: 26px;
    color: #101010;
}

.hidden__box__bottom__button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 12px 16px;
    gap: 12px;
    left: calc(50% - 134px/2);
    bottom: 16px;
    background: #3772FF;
    border-radius: 90px;
    border: 0;
    font-family: 'DM';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    color: #FCFCFD;
    opacity: 0;
    transition: 1s;
}

.product__first:hover {
    z-index: 2;
}

.product__first:hover .hidden__box__top {
    opacity: 1;
}

.product__first:hover .hidden__box__bottom__button {
    opacity: 1;
}

.hidden__box__top__heart:focus {
    color: #00a423;
}